.overlay {
  position: absolute;
  top: 396px;
  left: 397px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
  width: 91.6px;
  height: 28px;
}
.heroContainer {
  align-self: stretch;
  height: 513px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--neutral-neutral);
  font-family: var(--font-clash-display);
}
@media screen and (max-width: 450px) {
  .heroContainer {
    height: auto;
    min-height: 513;
  }
}
