.cardContainer,
.cardContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.cardContainer {
  width: 1264px;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 113px 93px;
  min-height: 1073px;
}
.cardContainerWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .cardContainer {
    gap: var(--gap-27xl);
  }
}
@media screen and (max-width: 450px) {
  .cardContainer {
    gap: var(--gap-4xl);
  }
}
